.div1{
    background-color:ghostwhite;
    height: 50px;
}
.div2{
    background-color:lightgray;
    height: 1000px;
}
.div21{
    background-color: ghostwhite;
    height: 1000px;
}
.div22{
    background-color: ghostwhite;
    height: 1000px;
}
.video{
    font-family: "fantasy";
}